.btn {
 
    &:link, &:visited {
        text-transform: uppercase;
        text-decoration:none;
        background: #FFFFFF;
        border-radius: 5rem;
        padding: 1.5rem 4rem;
        font-weight: 600;
        font-size: 2rem;
        color: #777777;
        display: inline-block;
        position: relative;
        transition: all .3s; //крутые прогреры не ставят "ноль" в таких случаях
    }
    &:hover {
        transform: translateY(-4px);
        box-shadow:(0px 4px 4px rgba(0, 0, 0, 0.3));
        &::after
            {
               transform: scaleX(1.5) scaleY(1.7);    
               opacity: 0;
            }
    }
    &:active {
        transform: translateY(-3px);
        box-shadow:(0px 4px 4px rgba(0, 0, 0, 0.1));
    }
    &::after{
        content: ""; //это свойство нужно писать вообще всегда, инача всевдоэлемен работать не будет
        background: #FFFFFF;
        width: 100%;
        height: 100%;
        border-radius: 5rem;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &_animated {
        animation: BtnToUp .5s ease-out .5s;
        animation-fill-mode: backwards;
    }
    

    @keyframes BtnToUp {
        0% {
            opacity: 0;
            transform: translateY(50px);
        }
    
        100% {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    
}